{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Birgen santisima</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, laborum vero est natus quos nesciunt aliquam atque illo id odio quam ratione incidunt exercitationem, assumenda error voluptates aliquid! Explicabo, accusamus.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/perro.jpg" alt="" class="img-thumbnail">
    </div>
</div>


{{> footer }}